<div class="postmenubox">
    <div class="menu">
        About
    </div>
    <div class="menucontent">
    	<p>
    		Software Developer at Ongame, Stockholm.
    	</p>
    	<p>
    		Graduate of Masters in Information Systems and Computer Engineering at <a href="http://www.ist.utl.pt/en">Instituto Superior Técnico</a> - Lisbon, with last year of studies at the Masters in Computer Science at <a href="http://www.kth.se/en">Kungliga Tekniska Högskolan</a> - Stockholm.
    	</p>
    	<p>
    		Former coordinator of crowd-based online programming magazine <a href="http://revista-programar.info">Revista Programar</a>.
    	</p>
    </div>
</div>
